.crm-heading{
    width: 90%;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
}
.crm-para{
    width: 90%;
    font-weight: 400;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    background-color: #F5F4F0;
    margin: 40px 0px;
    font-weight: 500;
}
.crm-container{
    height: 700px;
}
.crm-features{
    background-color: black;
    height: 480px;
}
.crm-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crm-feat-heading{
    width: 90%;
    color: #F5F4F0;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    margin-top: 30px;
}
.crm-feat-para{
    width: 90%;
    color: #F5F4F0;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
}
.crm-box-container{
    width: 90%;
    height: 500px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;
}
.crm-box{
    width: 310px;
    height: 150px;
    background-color: #F5F4F0;
    border-radius: 10px;
}
.crm-2{
    margin-top: 60px;
}
.crm-5{
    margin-top: 60px;
}
.crm-3{
    margin-top: 120px;
}
.crm-6{
    margin-top: 120px;
}
.crm-box-heading{
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0px;
}
.crm-box-para{
    width: 80%;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
}

@media only screen and (max-width:1150px){
    .crm-box-container{
        margin-top: 30px;
        height: fit-content;
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 50% 50%;
    }
    .crm-box{
        margin: 20px;
    }
    .crm-container{
        height: 850px;
    }
}
@media only screen and (max-width:750px){
    .crm-box-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .crm-container{
        height: 1450px;
    }
}
@media only screen and (max-width:650px){
    .crm-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .crm-container{
        height: 1500px;
    }
}
@media only screen and (max-width:450px){
    .crm-container{
        height: 1550px;
    }
}
@media only screen and (max-width:350px){
    .crm-box{
        width: 250px;
        height: 180px;
    }
    .crm-container{
        height: 1780px;
    }
}